* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li,
ol {
    list-style: none;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

input::-webkit-input-placeholder {
    text-align: center;
}

img {
    vertical-align: text-top;
    max-width: 100%;
}